In [46]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_df = pd.read_csv("data/mouse_drug_data.csv")
clinical_trial_data_df = pd.read_csv( "data/clinicaltrial_data.csv")


# Combine the data into a single dataset = 
combine_df = pd.merge(mouse_drug_data_df, clinical_trial_data_df,on= "Mouse ID", how="right",)

# Display the data table for preview

combine_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [43]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
mean_df = combine_df.groupby(['Drug', 'Timepoint']).mean()

mean.reset_index(level = None, inplace = True)

mean_tumor_volume_df = pd.DataFrame(mean)

mean_tumor_volume_df.head()

   level_0  index       Drug  Timepoint  Tumor Volume (mm3)
0        0      0  Capomulin          0           45.000000
1        1      1  Capomulin          5           44.266086
2        2      2  Capomulin         10           43.084291
3        3      3  Capomulin         15           42.064317
4        4      4  Capomulin         20           40.716325

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked